form {
  mat-form-field {
    width: 100%;
  }
}

.input-search {
  width: -webkit-fill-available;
  font-size: 14px;
  position: sticky;
  top: 0;
  border: 1px solid gray;

  &:focus {
    border: solid 1px #0d6efd !important;
    outline: none;
  }
}

.mat-form-field-suffix {
  position: absolute;
  top: 15px;
  color: #888481;
  right: 13px;
}

.sticky {
  position: sticky;
  top: 0;
  bottom: 0;
  z-index: 1;
  background: white;
}
