<div class="container">
  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="row mt-5">
      <div class="col-12 d-flex justify-content-center">
        <h3>Agregar subscriptores</h3>
      </div>

      <div class="row">
        <div class="col-12 d-flex justify-content-end my-3">
          <button class="btn btn-primary me-1" (click)="addSubscriberFields()">
            Agregar subscriptor
          </button>
        </div>
      </div>

      <div
        formArrayName="subscribers"
        *ngFor="let subscribers of subscribersField.controls; let i = index"
        class="mb-4"
      >
        <div [formGroupName]="i">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <h5 class="card-title">Subscriptor {{ i + 1 }}</h5>
                <div class="col-6">
                  <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input
                      placeholder="Nombre"
                      formControlName="Name"
                      matInput
                      type="text"
                    />
                    <div *ngIf="validField('Name', i)">
                      <mat-error *ngIf="hasErrorField('Name', i)">
                        Este campo es requerido
                      </mat-error>
                    </div>
                  </mat-form-field>
                </div>

                <div class="col-6">
                  <mat-form-field>
                    <mat-label>Correo</mat-label>
                    <input
                      placeholder="Correo"
                      formControlName="Email"
                      matInput
                      type="email"
                    />
                    <div *ngIf="validField('Email', i)">
                      <mat-error *ngIf="hasErrorField('Email', i)">
                        Este campo es requerido
                      </mat-error>
                      <mat-error *ngIf="hasErrorField('Email', i,'email')">
                        El correo electrónico no es válido.
                      </mat-error>
                    </div>
                  </mat-form-field>
                </div>

                <div class="col-6">
                  <mat-form-field>
                    <mat-label>Número</mat-label>
                    <input
                      placeholder="Número"
                      formControlName="PhoneNumber"
                      matInput
                      type="number"
                    />
                  </mat-form-field>
                </div>

                <div class="col-6">
                  <mat-form-field>
                    <mat-label>Trabajo</mat-label>
                    <input
                      placeholder="Trabajo"
                      formControlName="JobTitle"
                      matInput
                      type="text"
                    />
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field>
                    <mat-label>Area</mat-label>
                    <input
                      placeholder="Area"
                      formControlName="Area"
                      matInput
                      type="text"
                    />
                  </mat-form-field>
                </div>

                <div class="col-6">
                  <mat-form-field>
                    <mat-label>País</mat-label>
                    <mat-select
                      formControlName="CountryCode"
                      (openedChange)="cleanSearchFields()"
                    >
                      <div class="sticky">
                        <input
                          class="input-search rounded m-2 h-75 p-2"
                          type="text"
                          placeholder="Ingresar país"
                          [(ngModel)]="filterCountry"
                          [ngModelOptions]="{ standalone: true }"
                          (keydown)="$event.stopPropagation()"
                          (keyup)="filterCountries()"
                        />
                      </div>
                      <mat-option
                        *ngFor="let countrie of countriesCopy"
                        [value]="countrie.Code"
                      >
                        {{ countrie.Name }}
                      </mat-option>
                    </mat-select>
                    <div *ngIf="validField('CountryCode', i)">
                      <mat-error *ngIf="hasErrorField('CountryCode', i)">
                        Este campo es requerido
                      </mat-error>
                    </div>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-12 d-flex justify-content-center mb-5">
          <button class="btn btn-light text-black me-1" (click)="cancel()">
            Cancelar
          </button>
          <button class="btn btn-primary" type="submit">Guardar</button>
        </div>
      </div>
    </div>
  </form>
</div>
